.slider__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .slider__title {
    font-size: 30px;
    line-height: 30px;
  }
}
