.title {
  font-size: 110px;
  font-weight: 700;
  line-height: 99px;
  text-align: left;
  margin: 0;
  padding: 70px 0 0;
  text-transform: uppercase;
}

@media screen and (max-width: 780px) {
  .title {
    padding: 35px 0 0;
    font-size: 60px;
    line-height: 50px;
  }
}

@media screen and (max-width: 480px) {
  .title {
    padding: 25px 0 0;
    font-size: 40px;
  }
}
