.training-section__card-list {
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Raleway";
  font-weight: 300;
  text-align: left;
  font-size: 20px;
  line-height: 25px;
  gap: 5px;
}

@media screen and (max-width: 768px) {
  .training-section__card-list {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (max-width: 480px) {
  .training-section__card-list {
    font-size: 14px;
    line-height: 25px;
    padding: 0 0 0 20px;
  }
}

.training-section__card-list:last-child {
  padding: 0;
}
