.services-section__button-prev {
  background-image: url("../../../images/arrow-left.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 53px;
  height: 37px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .services-section__button-prev {
    display: none;
  }
}
